.counter-wrapper-2 {
  background-color: #f149361f;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f14836;
  margin: 0.725rem 2rem;
  padding: 1rem 0px;
  border-radius: 1rem;
}

.step {
  height: 3.5rem;
  width: 3.5rem;
  border: 1px solid #f14836;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 2rem;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
}

.step-text {
  width: 65%;
}

.edit-btn-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
