.header-hero {
  height: 80vh;
  background-color: rgb(255, 255, 255);
  position: relative;
}
@media only screen and (min-width: 1400px) {
  .header-hero {
    height: 990px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero {
    height: auto;
  }
}
@media (max-width: 767px) {
  .header-hero {
    height: auto;
  }
}

.header-hero-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 47%;
  height: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero-image {
    width: 720px;
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  .header-hero-image {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-hero-image {
    width: 540px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero-image .image img {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .image img {
    margin-left: 10%;
    width: 65vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero-content {
    padding-top: 150px;
  }
}
@media (max-width: 767px) {
  .header-hero-content {
    padding-top: 150px;
  }
}
.header-hero-content .hero-title {
  font-size: 60px;
  font-weight: 400;
  color: #000;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-hero-content .hero-title {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .header-hero-content .hero-title {
    font-size: 28px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-hero-content .hero-title {
    font-size: 34px;
  }
}
.header-hero-content .hero-title b {
  font-weight: 700;
}
.header-hero-content .hero-title span {
  color: #f14836;
  display: contents;
}
.header-hero-content .text {
  max-width: 490px;
  font-size: 16px;
  padding-top: 40px;
}
/* .header-singup {
  box-shadow: 1px 1px 1px 1px black;
} */
.header-hero-content .header-singup {
  position: relative;
  margin-top: 120px;
  /* z-index: 9; */
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero-content .header-singup {
    margin-top: 60px;
  }
}
@media (max-width: 767px) {
  .header-hero-content .header-singup {
    margin-top: 60px;
  }
}

.header-singup {
  width: auto;
  height: 70px;
  font-size: 24px;
  border: 0;
  border-radius: 50px;
  padding: 0 30px;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.188);
}

.header-hero-content .header-singup input {
  width: 30%;
  height: 70px;
  font-size: 22px;
  border: 0;
  border-radius: 50px;
  padding: 0 0px;
  background-color: #fff;
  padding: 0px;
  color: #f14836;
}

@media (max-width: 767px) {
  .header-hero-content .header-singup input {
    height: 56px;
  }
}
.header-hero-content .header-singup .main-btn {
  position: absolute;
  top: 3px;
  right: 3px;
  height: 64px;
  line-height: 60px;
  padding: 0 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .header-hero-content .header-singup .main-btn {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 56px;
    line-height: 52px;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-hero-content .header-singup .main-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    width: auto;
    height: 50px;
    line-height: 46px;
    margin-top: 0;
  }
}
