.single-blog {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-blog .blog-content {
  padding-top: 25px;
}
.single-blog .blog-content .blog-title a {
  font-size: 24px;
  font-weight: 600;
  color: #222;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-blog .blog-content .blog-title a {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .single-blog .blog-content .blog-title a {
    font-size: 20px;
  }
}
.single-blog .blog-content .blog-title a:hover {
  color: #f14836;
}
.single-blog .blog-content .blog-author {
  padding-top: 20px;
}
.single-blog .blog-content .blog-author .author-image img {
  width: 65px;
  border-radius: 50%;
}
.single-blog .blog-content .blog-author .author-content {
  padding-left: 20px;
}
.single-blog .blog-content .blog-author .author-content .sub-title {
  font-size: 14px;
  color: #f14836;
  font-weight: 400;
}
.single-blog .blog-content .blog-author .author-content .text {
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}

.blog-area {
  margin-bottom: 5rem;
}

.blog-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-image img {
  border-radius: 50%;
  width: 60%;
}
