.in-hero{
    color: black !important;
}

.input-wrapper{
    background-color: white;
    border-radius: 30px;
    padding: 0.5rem 0rem;
    display: flex;
    justify-self: center;
    align-items: center;
    margin-bottom: 5rem;
    color: black;
    box-shadow: 1px 1px 3px 1px black;
}

.input-inner-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-wrapper input {
    border: none;
    outline: none;
    width: 7rem;
    font-size: 22px;
}

.input-wrapper button {
    margin-left: 6.5rem;
    border-radius: 5rem;
}

.hero-flex{
    display: flex;
    justify-content: center;
}

.input-element-1{
    padding-left: 1rem;
    font-size: 24px;
    font-weight: 500;
}

.hero-gif {
    width: 10rem;
    border-radius: 50%;
}

.hero-gif-wrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
